.window{
    width:15%;
    height:30%;
    border-radius: 5px;
    background-color: white;

    flex-direction: column;
}

.exit-button{
    position: relative;
    float:right;
    margin: 5px;
    width:30px;
    height:30px;
}

.exit-button:hover{
    cursor: pointer;
}