@import '~antd/dist/antd.css';

.mainButtons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-button{
    border-radius: 0 0 5px;
}

.bottom{
    position:absolute;
    bottom:0;
    left:0;
    border-radius: 0 0 5px;
}

.timer{
    text-align: center;
}

.ant-btn {
    display: flex;
    border-radius: 5px;
}