.todo-item{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:#B0BEC5;
    border: 1px solid black;
    margin: 10px auto;
    padding: 5px;
}

.button-icon{
    height:30px;
    width: 30px;
}

.todo-button{
    margin: 0 6px;
}